*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: inherit;
    font-family: "Avenir Roman";
}
html, body{
    font-size: 62.5%;
}
body{
    line-height: 1;
    color: #333;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}